#first{
    background-image: linear-gradient(344deg,#F3AE60 24%,#5ec7f3 66%);
    padding-top: 10%;
    position: relative;
    width: 100%;
    height: 1363px;
}

#content{
    justify-content: center;
    display: flex;
}
#instant-heart{
    text-align: center;
    width: 60%;
    padding-top: 10%;
}
#instant-heart h1{
    color: white;
    font-size: 45px;
}
#instant-heart p{
    color: white;
    font-size: 20px;
}
#image-phone{
    text-align: center;
    padding-top: 140px;
    position: relative;
    z-index: 0;
}

#image-phone #hand-phone{
    margin-left: -35%;
    position: absolute;
    float: left;
}

#image-phone #hero-phone{
    margin-left: 6%;
    position: absolute;
}
#trusted{
    height: 1350px;
    background-color: #3b5d79;
    margin-top: -20px;
    width: 100%;
    text-align: center;
}
.uscf_standford{
    padding-top: 15%;
    text-align: center;
    width: 50%;
}
.uscf_standford h1{
    font-size: 36px;
    color: #F3AE60;
}
.uscf_standford p{
    font-size: 28px;
    color: white;
}
#ucsf-image{
    margin-right: 5%;
}
.top{
    justify-content: center;
    display: flex;
}
.container{
    text-align: center;
    padding-top: 50px;
    display: flex;
}
.one, .two, .three{
    width: 50%;
    flex: 10%;
}
.container p{
    font-size: 18px;
}

#heart-disease{
    text-align: center;
    height: 835px;
    background-color: #F3AE60;
    padding-top: 60px;
}

#heart-disease .title p{
    color: #82291F;
}

#heart-disease, .description p{
    color: #82291F;
}
#heart-disease .title h1{
    font-weight: 700;
    font-size: 48px;
}

#heart-disease .title p{
    font-size: 24px;
}

.description{
    display: flex;
    justify-content: space-between;
    padding-top: 60px;
}

.description p{
    font-size: 18px;
}
#details1, #details2, #details3{
    flex: 30%;
    height: 270px;
}

.get-started{
    height: 710px;
    background-color: #3b5d79;
}

.get-started .container{
    display: flex;
    justify-content: center;
    padding-top: 10%;
}

.get-started .container .start h1{
    color: white;
    font-size: 48px;
    font-weight: 700;
}
.other-saying{
    height: 920px;
    background-color: white;
}

.top-title{
    width: 90%;
    padding-top: 100px;
}

.top-title ul .right-content{
    text-align: right;
    margin-right: 5%;
}

.top-title ul .right-content .strong{
    font-weight: 100;
    font-size: 36px;
    margin-bottom: 0;
}

.top-title ul .right-content strong{
    font-size: 48px;
    font-weight: 700;
    color: #171E5E;
}

.top-title ul {
    display: flex;
    justify-content: space-between;
}

.top-title ul li{
    list-style-type: none;
}

.top-title ul .left-content{
    color: #1282A7;
    margin-left: 12%;
}

.top-title ul .left-content h2{
    font-size: 36px;
    font-weight: 400;
    margin-bottom: -10px;
}

.top-title ul .left-content h3{
    color: #175376;
}

.top-title ul .left-content h4,p {
    color: black;
}

.top-title ul .left-content h1{
    font-size: 48px;
    font-weight: 700;
}

.top-title ul .left-content .previous, .next{
    font-size: 40px;
    width: 10%;
    color: gray;
    padding-top: 40px;
}

.top-title ul .left-content .previous:hover, .next:hover{
    color: #171E5E;
    transition: ease-in-out 150ms;
}