/*Header*/
@import url('https://fonts.googleapis.com/css2?family=Public+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=Quicksand:wght@300&family=Red+Hat+Display:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');
*{
    box-sizing: border-box;
    font-family: 'Public Sans', sans-serif;
}
body{
    margin: 0;
    padding: 0;
}
header {
    width: 100%;
    background-color: #0e2235;
    height: 50px;
    top: 0;
    left: 0;
    bottom: 0;
    position: relative;
}
#logo-header{
    position: relative;
    line-height: 12px;
    align-items: center;
    float: left;
    margin-left: 8%;
}
#logo-header a h3{
    color: rgba(255, 255, 255, 0.44);
}
#logo-header a{
    text-decoration: none;
}
.flex{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#navbar-header ul{
    display: flex;
    margin-right: 4em;
    font-size: 14px;
}
#navbar-header a{
    text-decoration: none;
}
#navbar-header ul li{
    display: flex;
    margin-right: 4em;
    color: rgba(255, 255, 255, 0.54);
    text-transform: uppercase;
}

#navbar-header ul li:hover{
    color: #ffffff;
}
.image-item{
    position: relative;
    z-index: 9999;
    background-color: #24394F;
    width: 100%;
    top: 0;
    display: flex;
    height: 112px;
    text-align: center;
    justify-content: space-between;
    margin-top: -2px;
    align-items: center;
    padding-left: 15%;
}
.image-item ul{
    display: flex;
    align-items: center;
    margin-left: 15%;
    justify-content: space-between;
}
.image-item ul li{
    list-style-type: none;
    width: 163px;
    line-height: 50px;
    align-items: center;
    text-align: center;
}
.image-item ul li:hover{
    background-color: rgba(14, 34, 53, 0.38);
    transition: ease-in-out 150ms;
}

.image-item .active-icon{
    background-color: rgba(14, 34, 53, 0.38);
}

.image-item img{
    width: 25%;
    text-align: center;
    align-items: center;
    margin-bottom: -40px;
}
.image-item ul li p{
    color: white;
    font-size: 12px;
    margin-bottom: 10px;
}

.image-item ul li a{
    text-decoration: none;
}

#top-nav{
    display: flex;
    background-color: rgba(247, 247, 247, 0.17);
}
#top-nav ul{
    width: 100%;
    position: relative;
    z-index: 9999;
    display: flex;
    margin: 0;
    text-align: center;
    height: 80px;
    background-color: white;
    align-items: center;
}
#top-nav ul li{
    list-style-type: none;
    text-transform: uppercase;
    flex: 30%;
}
#top-nav a{
    text-decoration: none;
    font-size: 14px;
    color: #171E5E;
}
#active{
    font-weight: 700;
}
#overview{
    margin-right: 50px;
}
#box4 button{
    line-height: 15px;
    color: white;
    font-size: 12px;
    height: 40px;
    background-color: #4AA6E4;
    border: none;
    padding: 0 24px 0 24px;
    border-radius: 24px;
    width: 205px;
    font-weight: 500;
    text-transform: uppercase;
    margin-left: 60px;
}
#box4 button:hover{
    background-color: blue;
    transition: ease-in-out 300ms;
}
#box1{
    margin-top: 6px;
}
/*Header End*/

/*Footer Start*/
footer{
    height: 240px;
    width: 100%;
    background-color: white;
    background: url("../image/background-footer.png");
}
.footer-container{
    padding-left: 10%;
    padding-top: 20px;
    width: 80%;
    display: flex;
    justify-content: space-between;
}
.footer-item ul li{
    margin-right: 20px;
    line-height: 30px;
    list-style-type: none;
}
.right{
    margin-right: -100px;
}
.right ul{
    display: flex;
    padding-top: 120px;
    text-align: right;
    margin-right: -30px;
}
.right ul li{
    margin-right: -30px;
    list-style-type: none;
    width: 30%;
}
.right img{
    margin-bottom: -5px;
    width: 40%;
}
.right p{
    font-size: 10px;
}

/*Footer End*/